:root {
    --background-color: #1a1a1a;

    --background-dialog-color: #423029;
    --dialog-color: #48362c;

    --background-inner-dialog-color: #decba5;
    --inner-dialog-border-color: rgba(72, 54, 44, 0.25);

    --background-border-dialog-color: #846152;

    --supply-background-color: rgba(66, 48, 41, 0.25);
    --supply-input-color: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Alata', 'Roboto Sans', sans-serif;
}

body {
    background-color: var(--background-color);
}

.dialog {
    background-color: var(--background-dialog-color);
    color: var(--color);
    border-color: var(--border-dialog-color);

    padding: 10px;
}

.dialog-border {
    background-color: var(--background-border-dialog-color);
    padding: 5px;
}

.inner-dialog {
    background-color: var(--background-inner-dialog-color);

    padding: 1px;
}
.inner-dialog-border {
    border: 2px dashed var(--inner-dialog-border-color);
}

.dialog-border,
.inner-dialog {
    border: 2px solid black;
}

.dialog,
.dialog-border,
.inner-dialog {
    border-radius: 10px;
}

.supply-list {
    display: flex;
    flex-wrap: wrap;

    padding: 20px;
}

.supply-list > .supply {
    display: flex;
    align-items: center;
    background-color: var(--supply-background-color);

    height: 100px;
    min-width: 200px;

    margin: 5px;
    padding: 5px;
    border-radius: 20px;
}

.supply-list > .supply > .supply-vertical-border {
    height: 100%;
    width: 0;
    border: 0;
    border-left: 2px dashed var(--inner-dialog-border-color);
}

.supply-list > .supply > .supply-img,
.supply-list > .supply > .supply-number {
    height: 100%;
    min-width: 100px;
    flex-grow: 1;
    background-color: transparent;
    padding: 5px;
}

.supply-list > .supply > .supply-number {
    width: 100px;
}

.supply-list > .supply > .supply-img > img,
.supply-list > .supply > .supply-number > input {
    height: 100%;
    background-color: transparent;
}

.supply-list > .supply > .supply-number > input {
    width: 100%;
    border: 0px;

    color: var(--supply-input-color);
    font-size: 30px;
    line-height: 30px;
    font-weight: bolder;
    font-family: 'Coiny', 'Mali', sans-serif;
    text-align: center;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
